<nav>
    <ul id="menu">
        <li>
            <a href="#hobby">Mes hobbies</a>
        </li>
        <li>
            <a href="#projet">Mes Projets</a>
        </li>
        <li>
            <a href="#blog">Mon blog</a>
        </li>
    </ul>
</nav>