/**
IMPORTS
*/
@import url('font/Roboto/Roboto-Light.ttf');
/**@import url('ttps://fonts.googleapis.com/css?family=Tomorrow&display=swap');
/**  */
*{
    margin: 0;
    padding: 0;
    box-shadow: 0;
    font-family: 'Tomorrow','Roboto', sans-serif;
    color: RGB(230, 230,230);
}

html{
    background-color:RGB(0,0,0);
}
body{ display: flex;
flex-direction: column;align-items: center;}

h1{
    font-size: 30px;
    padding-bottom: 30px;
    text-transform: uppercase;
}

#body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav ul{
    list-style-type: none;
    width: 40%;
    height: 100%;
}
#nav{
    width: 100%;
    height: 50px;
    position: fixed;
}
nav{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    background-color: RGB(0,0,0, 0.9);
    
    
}
.menu{
    
    
}
li > a > img{
    width: 15px;
    height: 15px;
}
a{
    
    text-decoration: none;
    color: RGB(255,255,255, 0.7);
    
    
}

.trait{
    border-bottom: azure solid 1px;
    width: 80%;
    
}
nav ul, a{
    font-size: 12px;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid RGB(240,240,240, 0.2);
   
}
nav li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    
}
.menu:hover{
    background-color: RGB(42,42,42, 0.07);
}

/*  SECTION ABOUT*/

#about{
    height: 700px;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    align-items: center;
    
}

#about article{
    display: flex;
    flex-direction: row;   
}
#about article p{
    padding: 20px 40px;
    color: azure;
}
#about article img{
    width: 20%;
    height: 250px;
}

/**/

#skills{
    height: 700px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    }
#skills article{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
}
#skills li img, #skills li div img{
    width: 30px;
    height: 20px;
}
#skills article ul{
    width: 400px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    flex-direction: column;
}
#skills article ul li {
    display: flex;
    width: 300px;
    height: 40px;
}
/********/
#projects{

    height: 700px;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#blog{

    height: 700px;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#contact{

    height: 700px;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

footer{
    width: 100%;
    height: 250px;
    background-color: RGB(32,38,46);
}