/**
IMPORTS
*/
@import url('font/Roboto/Roboto-Light.ttf');
@import url('font/Tomorrow/Tomorrow-Light.ttf');
@import url('https://fonts.googleapis.com/css?family=Tomorrow&display=swap');
/**@import url('https://fonts.googleapis.com/css?family=Tomorrow&display=swap');
/**  */
*{
    margin: 0;
    padding: 0;
    box-shadow: 0;
    font-family: 'Tomorrow','Roboto', sans-serif;
    color: RGB(230, 230,230);
}

html{
    background-color:RGB(0,0,0);
}
body{ display: flex;
flex-direction: column;
    align-items: center;}

h1{
    font-size: 30px;
    padding-bottom: 30px;
    text-transform: uppercase;
    margin: 30px;
}

#body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav ul{
    list-style-type: none;
    width: 40%;
    height: 100%;
}
#nav{
    width: 100%;
    height: 50px;
    position: fixed;
}
nav{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    background-color: RGB(0,0,0,0.9);
}
.menu{
    
    
}
li > a > img{
    width: 15px;
    height: 15px;
}
a{
    
    text-decoration: none;
    color: RGB(255,255,255, 0.7);
    
    
}

.trait{
    border-bottom: azure solid 1px;
    width: 80%;
    margin: 50px;
    
}
nav ul, a{
    font-size: 12px;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid RGB(240,240,240, 0.2);
   
}
nav li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    
}
.menu:hover{
    background-color: RGB(42,42,42, 0.3);
}

/*  SECTION ABOUT*/

#about{
    height: 700px;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    align-items: center;

    
}

#about article{
    display: flex;
    flex-direction: row;

}
#about article p{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#about article img{
    width: 175px;
    height: 250px;
}

/**/

#skills{
    height: 700px;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    }
#skills article{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
}
#skills li img, #skills li div img{
    width: 30px;
    height: 20px;
}
#skills article ul{
    width: 400px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    flex-direction: column;
    padding-left: 100px;
}
#skills article ul li {
    display: flex;
    width: 300px;
    height: 40px;
    margin-bottom: 15px;
}
/********/
#projects{

    height: 1000px;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#projects img{
    width: 250px;
    height: 300px;
    margin: 30px;

    border: 3px solid white;
    border-radius: 3px;

}

#projects img:hover{
    opacity: 0.5;

}
#projects article{
    width: 100%;
    height: 60%;
    
}
#projects > ul {
    display: flex;
    width: 100%;
    list-style-type: none;
    justify-content: flex-start;
    
    
}
#projects > ul > li{
    padding-right: 20px;
    
}


#projects article ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start
}

#blog{

    height: 700px;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
}

#blog img{
    width: 250px;
    height: 300px;
    margin: 30px;
    border: 3px solid white;
    border-radius: 3px;

}
#blog article {
    display: flex;
    align-items: center;

}
#blog article p,#blog h3{

    margin: 30px;


}


#contact{

    height: 700px;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.form-style-4{
    width: 450px;
    font-size: 16px;
    background: black;
    padding: 30px 30px 15px 30px;
    border: 5px solid white;
}
.form-style-4 input[type=submit],
.form-style-4 input[type=button],
.form-style-4 input[type=text],
.form-style-4 input[type=email],
.form-style-4 textarea,
.form-style-4 label
{
    font-family: Tomorrow, "Times New Roman", Times, serif;
    font-size: 16px;
    color: #fff;

}
.form-style-4 label {
    display:block;
    margin-bottom: 10px;
}
.form-style-4 label > span{
    display: inline-block;
    float: left;
    width: 150px;
}
.form-style-4 input[type=text],
.form-style-4 input[type=email]
{
    background: transparent;
    border: none;
    border-bottom: 1px dashed white;
    width: 275px;
    outline: none;
    padding: 0px 0px 0px 0px;
    font-style: italic;
}
.form-style-4 textarea{
    font-style: italic;
    padding: 0px 0px 0px 0px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px dashed white;
    width: 275px;
    overflow: hidden;
    resize:none;
    height:20px;
}

.form-style-4 textarea:focus,
.form-style-4 input[type=text]:focus,
.form-style-4 input[type=email]:focus,
.form-style-4 input[type=email] :focus
{
    border-bottom: 1px dashed black;
}

.form-style-4 input[type=submit],
.form-style-4 input[type=button]{
    background: black;
    border: 1px solid white;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    color: white;
}
.form-style-4 input[type=submit]:hover,
.form-style-4 input[type=button]:hover{
    background: white;
    color: black;
}
footer{
    width: 100%;
    height: 250px;
    background-color: RGB(32,38,46);
}

.activeButton{
    color:black;
    background-color: antiquewhite;
    border: 1px solid white;
    padding: 3px;
    border-radius: 3px;}

.unativeButton{
    color:white;
    background-color: black;
    border: 1px solid white;
    padding: 3px;
    border-radius: 3px;
}

