<!DOCTYPE html>
<html>
    <head>
<<<<<<< HEAD
        <meta charset="UTF-8">
        <meta name="keywords" content="CV, HTML, CSS, PHP, Javascript">
        <meta name="author" content="AUBRY Bastien">
        <meta name="description" content="site CV-Curriculum vitæ, de Bastien AUBRY">
        <title>Curriculum vitæ-AUBRY Bastien</title>
        <link href="../assets/css/style.css" rel="stylesheet" type="text/css">
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
    {% include 'site/menu.html.twig' %}
        {% block body%}
        {% endblock %}

        {#Block javascript#}
        {% block javascript %}
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
=======
        <title>Welcome to Symfony!</title>
    </head>
    <body>
       {% block body%}
>>>>>>> 095a59681bedff48097d114cb9a095debee3f288
        {% endblock %}
    </body>
</html>